<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <pre id="stuff">
    </pre>
  </body>
  <script type="text/javascript">
    var socket = io.connect();
    socket.on("training", function(data) {
        $("#stuff").html(JSON.stringify(data, null, 2));
    });
    socket.on("prediction", function(data) {
        $("#stuff").html(JSON.stringify(data, null, 2));
    });
    setInterval(function() {
        socket.emit("predict", {
          "features": {
            "Petal.Length": 6*Math.random(),
            "Sepal.Length": 6*Math.random(),
            "Petal.Width": 6*Math.random(),
            "Sepal.Width": 6*Math.random()
          }
         })
       }, 250)
  </script>
</html>
